snippet title "For Title"
/*
 *=======================================================================
 *    Filename:`!p snip.rv = fn`
 *
 *     Version: 1.0
 *  Created on: `!v strftime("%B %d, %Y")`
 *
 *      Author: `!v g:snips_author`
 *=======================================================================
 */

endsnippet

snippet tle "A simple template"
#include<bits/stdc++.h>

using namespace std;

${0}

int main()
{

    return 0;
}
endsnippet

