snippet title "JS title"
"use strict";
// vim: ts=2 sw=2 sts=2 et:
/*
 *=======================================================================
 *    Filename: `!p snip.rv = get_markdown_title(snip)`
 *
 *     Version: 1.0
 *  Created on: `!v strftime("%B %d, %Y")`
 *
 *      Author: `!v g:snips_author`
 *=======================================================================
 */

endsnippet

global !p
def get_markdown_title(snip):
    return snip.fn
endglobal