snippet title "For Title"
#########################################################################
#
#  Created on: `!v strftime("%B %d, %Y")`
#
#      Author: `!v g:snips_author`
#
#       Brief:
#
#########################################################################


endsnippet
