snippet title "Hexo post header" b
---
title: ${1:title}
layout: post
date: `!v strftime("%Y-%m-%d %H:%M:%S")`
author: `!v g:snips_author`
tags: 
description: ${3}
categories: Docs
feature: 
toc: true

---

${0}
endsnippet
