snippet title "Hexo post header" b
---
layout: post
title: ${1:title}
date: `!v strftime("%Y-%m-%d %H:%M:%S")`
author: `!v g:snips_author`
tags: 
description: ${3}
categories: Docs
photos:  
toc: true

---

${0}
endsnippet
